
/*--------------------- General Part ------------------- */

.card {
    min-width: 20%;
    max-width: 25%;
    min-height: 180px;
}

.card-container {
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
    column-gap: 20px;
    row-gap: 20px;
}

.img-container {
    height: 100vh;
}

.card-footer {
    color: blue;
}

.card-text {
    font-size: small;
    margin-bottom: 20px;
}

.sushiheader {
    max-width: 100%;
    height: 300px;
}

.badges {
    display: flex;
}

.badge {
    background-color: firebrick;
    color : white;
    margin: 10px;
    font-size: large;
    border-style: none;
    outline: none;
}

.badge:focus {
    outline: none;
}

.badge:hover {
    background-color: rgb(139, 25, 25);
}

body{
    background-color: rgb(29, 28, 28);
    color: white;
    cursor: url("./asset/img/8f35d8ef072d7dc88d1163989b022976.png"), pointer;
}

@font-face{ 
    font-family: NightinTokyo; 
    src:url(./asset/fonts/night-in-tokyo.bold.ttf);
}

/*--------------------- Part1 : NavBar + Banner ------------------- */
.part1{
    display: flex;
    flex-direction: column;
    position: static;

}
.banner{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.navbar-brand{
    font-size: 50px;
    font-family: NightinTokyo; src:url(./asset/fonts/night-in-tokyo.bold.ttf); 
    opacity: 100%;
}

.nav-item a, .contactLink{
    color: white;
    padding-right: 50px;  
}

.nav-item a:hover, .contactLink:hover{
    text-decoration: line-through ;
    color: white;
}

.titleBanner{ 
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(29, 28, 28, 0.5); 
}

.restoName{
    font-family: NightinTokyo; src:url(./asset/fonts/night-in-tokyo.bold.ttf); 
    font-size: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/*--------------------- Part2 : Order ------------------- */

.part2{
    width: 100%;
    background-color: rgb(29, 28, 28); 
    display: flex;
    flex-direction: row;
    position: static;
    align-items: center;
}

.orderLeft{
    width: 50%;
    position: relative;
    text-align:left;
    display: flex;
    flex-direction: column;
    padding-top: 60%;
    padding-left: 15%;
}

.sushiTitle{
    font-family: NightinTokyo; src:url(./asset/fonts/night-in-tokyo.bold.ttf); 
    font-size: 50px;
    text-align: left;
}

.sushiText{
    font-size: 18px;
    margin-bottom: 20px;    
    text-align: left;
}

.orderRight{
    width: 50%;
    position: relative;
    text-align:right;
    display: flex;
    flex-direction: column;
    margin-top: 70%;
    margin-left: 15%;  
    margin-bottom: 10%;
}

.bowl{
    height:20%;
    width: 50%;
}
.sushi1{
    height:12%;
    width: 25%;
    margin-left:20%;
    transform: rotate(-30deg);
}

.sushi2{
    height:1%;
    width: 20%;
    margin-left:5%;
    transform: rotate(-30deg);
}

.sushi3{
    height: 7%;
    width: 15%;
    margin-left:28%;
    transform: rotate(-30deg);

}
.buttonOrder{
    height: 20%;
    width: 60%;
}

/*--------------------- Part3 : Contact ------------------- */

.imagePart3{
    max-width: 100%;
    position: absolute;
}

.Part3{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}

.contactInfo{
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.adressTitle, .timetableTitle{
    font-family: NightinTokyo; src:url(./asset/fonts/night-in-tokyo.bold.ttf); 
    font-size: 35px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 40% ;
}

.contact-title{
    margin: 45px 40%;
    position: absolute;

}

.adressText{
    margin-bottom: 20px;
    position: relative;
}

.adress{
    width: 45%;
    margin: 0 50px;
}

.timetable{
    width: 49%;
    margin: 0 50px;
}

.timetableList ul{
    position: relative;
}

.timetableList li{
    position: relative;
    left: -40px;
    margin: 0;
    list-style-type: none;
    line-height: 40px;
    font-size: 18px;

}



/*--------------------- Part4 : links ------------------- */
.part4{
/*    display: flex;
    flex-direction: row;
    justify-content: center;*/
    padding-top: 2%;
}
/*--------------------- Part5 : footer ------------------- */

footer{
    display: block;

}